@page
@model LogisticApp.Pages.IndexModel
<h1 style="color: blue;">Welcome</h1>

<p>Items count: @Model.Items.Count</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Package</th>
            <th>Pickup</th>
            <th>Delivery</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.assignmentIdField</td>
            <td>@item.package</td>
            <td>@item.pickupLocationField</td>
            <td>@item.deliveryLocationField</td>
        </tr>
    }
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </tbody>
</table>

